h1{
    background-color: #ADDFAD;
    color:white;
    font-family: monospace;
    text-align: center;
    border: white;
    margin: auto;
    
    border-radius: 10px;
}
html,body{
    background-color: rgb(137, 201, 137);
    
    color: #111827; 
}

.stApp {
    background-color: rgb(111, 168, 111);


}
.stButton> button{ background-color:#10B981;

}
.stButton>button:hover{
    color: white;
}

.stDataFrame{
    border-radius: 10px;
    border-style: dotted;
    background-color: #ADDFAD;
    color: #fafafa;
}